# Exemple de variables prévues pour la suite du projet.
# Ce fichier peut être envoyé sur GitHub car il ne contient pas de vraies valeurs secrètes.

NODE_ENV=development
PORT=3000

# Base de données prévue pour le futur backend
DATABASE_URL=postgresql://user:password@localhost:5432/quai_antique

# Sécurité prévue pour l'authentification
JWT_SECRET=change_this_secret_in_real_project
JWT_EXPIRES_IN=1d

# Frontend autorisé à appeler l'API
CORS_ORIGIN=http://localhost:5173
